<%- include('../partials/head'); %>

    <body>
        
        <div class="conteiner bkGray" >

            <header>
                <%- include('../partials/header'); %>
            </header>


            <main>
                <br>
                <h1 class="titlePage">404 error.</h1>
                <h3>Ups, lo siento, parece que algo salió mal!</h3>
            </main>

        </div>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>


        <%- include('../partials/closure'); %>