<%- include('../partials/head'); %>
<body>

    <header>
        <%- include('../partials/header'); %>
    </header>

<h1 class="titlePage">404 error.</h1>
<h3>Ups, lo siento,  parece que algo salió mal!</h3>



    <footer>
        <%- include('../partials/footer'); %>
    </footer>

<%- include('../partials/closure'); %>