<%- include('../partials/head'); %>
<body>

    <header>
        <%- include('../partials/header'); %>
    </header>

    <div>
        <h1>Product Cart</h1>
    </div>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

<%- include('../partials/closure'); %>