<%- include('../partials/head'); %>
<body>

    <header>
        <%- include('../partials/header'); %>
    </header>

<h1 class="titlePage">Carrito de productos</h1>
<section class="oportunidades">

    <h5> TU COMPRA  </h5>

    <div class="productList">
   
    </div>
</section>



    <footer>
        <%- include('../partials/footer'); %>
    </footer>

<%- include('../partials/closure'); %>