<%- include('../partials/head'); %>
<body>

    <header>
        <%- include('../partials/header'); %>
    </header>

    <section style="background-color: #efefef;" >
        <div id="login" class="form">
            <form  action="" autocomplete="on" method="POST"> 
              <h1 class="titlePage">Login</h1> 
              <div class="form-group">
                <label for="username" class="uname" >E-mail: </label>
                  <input id="useremail" name="email" required="required" type="text" placeholder="Tu e-mail" class="form-control"/>
              </div>
              <div class="form-group">
                <label for="password" class="youpasswd"> Contraseña:</label>
                  <input id="password" name="password" required="required" type="password" placeholder="Tu password"  title="Debe contener al menos un número y una letra minúscula y mayúscula, y al menos 8 o más caracteres" class="form-control" class="form-control"/> 
              </div>
              <!-- pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" -->

              <div class="login button">
                  <input type="submit" value="Login" /> 
              </div>
              <p class="change_link">
                  Aún no eres miembro
                  <button href="register" class="to_register btn btn_secundary">Regístrate</button>
              </p>
            </form>
          </div>
    </section>


    <footer>
        <%- include('../partials/footer'); %>
    </footer>

<%- include('../partials/closure'); %>