<ul class="navNosotros">
    <li><a href="#">Sobre Nosotros</a></li>
    <li><a href="products">Tienda Online</a></li>
</ul>

<ul class="navSocialMedia">
    <li><a href=""><i class="fa fa-instagram"></i></a></li>
    <li><a href=""><i class="fa fa-facebook-f"></i></a></li>
</ul>