<ul class="navNosotros">
    <li><a href="/products">Tienda Online</a></li>
</ul>

<ul class="navSocialMedia">
    <li><a href="https://www.instagram.com/tamaitijuegos/?hl=es-la"><i class="fa fa-instagram"></i></a></li>
    <li><a href=""><i class="fa fa-facebook-f"></i></a></li>
</ul>